$main-color: #ffac14;

html, body { height: 100%; }
body { background: #666; }

.wrapper {
	margin: 0 auto;
	max-width: 1060px;
	background: $main-color;
}

.wrap {
	padding: 2.5em;
}

.masthead { text-align: center; }
.logo {
	display: inline-block;
	margin: -1.25em 0 0 0;
	pointer-events: none;
}

.menu {
	display: inline-block;
	margin: 0;
	padding: 0 2em;

	&__link {
		color: #000;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: bold;
		display: block;
		padding: 0.5em 0 0.5em 0.75em;

		&.active { color: #c00; }

		&:after {
			content: "|";
			display: inline-block;
			padding: 0 0 0 0.75em;
			color: #000;
			font-size: 0.8em;
			position: relative;
			top: -2px;
		}
	}

	&__item {
		display: inline-block;
		margin: 0;

		&:first-child {
			a { padding-left: 0; }
		}

		&:last-child {
			a:after { display: none; }
		}
	}

	&--right { float: right; }
	&--left { float: left; }
}

#main-navigation {
	background: linear-gradient($main-color, lighten($main-color, 20%), $main-color);
}

.main-header {
	background: #000;
	height: 8em;
}

.tagline {
	&--left {
		float: left;
	}

	&--right {
		float: right;
	}
}

#call-to-action {
	display: flex;
	flex-direction: row;
}

.ticker {
	background: #333;
	padding: 0.5em 2em;

	color: $main-color;
	font-weight: bold;
	font-size: 1.25em;
}

.main-content {
	background: #fff;
	display: flex;
	flex-direction: row;
}

.sidebar {
	width: 300px;
	background: #333;
	flex: 2 0 auto;
}

.sidebar-button {
	width: 100%;

	img {
		width: 100%;
		height: auto;
	}

	span {
		display: block;
	}
}

#main-footer {
	text-align: center;
}


// Clearfix
.group:after {
	content: "";
	display: table;
	clear: both;
}