$main-color: #ffac14;
$font-color: #666;

html, body { height: 100%; }
body {
	background: $font-color;
	color: #444;
	font: 14px/1.5em 'PT Sans', Helvetica, Arial, sans-serif;
}

a {
	color: #007cc0;

	&:hover { color: #c00; }
}

.main-wrapper {
	margin: 0 auto;
	max-width: 1060px;
	min-width: 1060px; // No Responsiveness fix
	background: $main-color;
}

.wrap { padding: 2em 3em; }

.masthead { text-align: center; }

.logo {
	display: inline-block;
	margin: -1.25em 0 0 0;
	position: relative;
	z-index: 500;

	h1 { margin: 0; }
}

hr {
	height: 1px;
	border: none;
	background: #000;
	margin: 2em 0 3em 0;
}

.event-registration-area {
	strong {
		display: inline-block;
		width: 45%;
		font-size: 1.25em;
		line-height: 1.5em;
	}

	.register-badge {
		display: inline-block;
		margin-left: 4em;
	}
}

.menu {
	display: inline-block;
	margin: 0;
	padding: 0 3em;
	position: relative;
	z-index: 1000;

	&__link {
		color: #000;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: bold;
		display: block;
		padding: 1em 0 0.65em 0.75em;
		font-size: 1em;
		line-height: 1em;

		&:hover { color: #007cc0; }
		&.active { color: #c00; }

		&:after {
			content: "|";
			display: inline-block;
			padding: 0 0 0 0.75em;
			color: #000;
			font-size: 0.8em;
			position: relative;
			top: -2px;
		}
	}

	&__item {
		display: inline-block;
		margin: 0;

		&:first-child a { padding-left: 0; }
		&:last-child a:after { display: none; }
	}

	&--right { float: right; }
	&--left { float: left; }
}

#main-navigation {
	background: linear-gradient($main-color, lighten($main-color, 20%), $main-color);
}

.main-header {
	background: #000;
	height: 8.5em;
	background-image: url('/images/bg-header.png');
	background-position: 0 13px;
	position: relative;
	z-index: 2000;
}

.tagline {
	$dist: 4.5em;
	margin-top: 1.5em;

	&--left {
		float: left;
		margin-left: $dist;
	}

	&--right {
		float: right;
		margin-right: $dist;
	}
}

#call-to-action {
	z-index: 500;
	position: relative;
	display: flex;
	flex-direction: row;
}

.slideshow {
	max-width: 760px;
	max-height: 471px;
	flex: 1 1 auto;
	overflow: hidden;

	img { height: auto; }
}

.register-badge {
	position: relative;
	border: 2px solid $main-color;
	margin: 35px 0 2em 0;
	width: 100%;
	max-width: 216px;

	background: linear-gradient(90deg, #000, #333, #000);

	a { text-decoration: none; }

	img {
		position: absolute;
		top: -35px;
		left: 50%;
		margin-left: -119px;
	}

	figcaption {
		padding: 4em 1em 1em;
		text-align: center;
		font-weight: bold;
		color: lighten($main-color, 20%);
		font-size: 1.2em;
		line-height: 1.35em;
	}

	&:after {
		content: '';
		border: 1px solid $main-color;
		background: lighten($main-color, 20%);
		width: 90%;
		height: 10px;
		position: absolute;
		bottom: -12px;
		left: 5%;
	}
}


/* Icons */
@font-face {
	font-family: 'slick';
	font-weight: normal;
	font-style: normal;

	src: url('../fonts/slick.eot');
	src: url('../fonts/slick.eot?#iefix') format('embedded-opentype'), url('../fonts/slick.woff') format('woff'), url('../fonts/slick.ttf') format('truetype'), url('../fonts/slick.svg#slick') format('svg');
}

/* Slider */
.slick-loading .slick-list { background: #fff url('../images/ajax-loader.gif') center center no-repeat; }

/* Arrows */
.slick-prev, .slick-next {
	font-size: 0;
	line-height: 0;

	position: absolute;
	top: 0;

	display: block;

	width: 60px;
	height: 100%;
	padding: 0;

	display: block;

	cursor: pointer;

	color: transparent;
	border: none;
	outline: none;
	background: transparent;
	z-index: 2000;

	&:hover, &:focus {
		color: transparent;
		outline: none;
		background: transparent;

		&:before { opacity: 1; }
	}

	&:before {
		content: "";
		width: 24px;
		height: 52px;
		display: block;
		margin: 0 auto;
	}

	&.slick-disabled:before { opacity: .25; }
}

.slick-prev {
	left: 0;
	&:before { background-image: url("../images/arrow-left.png"); }
}

.slick-next {
	right: 0;
	&:before { background-image: url("../images/arrow-right.png"); }
}


.ticker {
	background: #333;
	padding: 0.5em 2.5em;

	color: $main-color;
	font-weight: bold;
	font-size: 1.25em;
}

.main-content {
	background: #fff;
	display: flex;
	flex-direction: row;

	h1, h2, h3 {
		font-weight: bold;
		letter-spacing: 0.01em;
	}

	h1 { font-size: 1.5em; }
	h2 { font-size: 1.25em; margin-top: 1.25em; }
	h3 { font-size: 1.1em; margin-top: 1.25em; margin-bottom: -0.5em; }

	ul {
		&.multi-column {
			columns: 2 250px;
		}

		&.bulletless {
			list-style-type: none;

			li {
				padding: 0;
			}
		}
	}

	ol {
		padding-left: 2em;

		ol { list-style-type: lower-alpha; }
	}
}

.content {
	flex: 1 1 auto;
}

.sponsors {
	border-top: 1px solid;
	margin-bottom: 3em;

	h2 {
		background: $main-color;
		width: 40%;
		font-size: 1.15em;
		margin: 0 0 1.5em 0;
		padding: 0.25em 1em;
	}

	a {
		// margin-right: 3em;
		display: inline-block;
		vertical-align: middle;
		text-align: center;
		width: 30%;
		margin-right: 2%;
		margin-bottom: 1em;

		&:last-child { margin-right: 0; }
	}

	img {
		max-width: 100%;
		height: auto;
	}
}

.charities {
	line-height: 1.25em;

	.name { font-weight: bold; }
	.cost {
		padding-left: 0.5em;

		&:before {
			content: "$";
		}
	}
}

.charities-total {
	width: 50%;
	border-top: 1px solid;
	border-bottom: 1px solid;
	padding: 0.5em 0;
	float: right;
	font-weight: bold;
	text-transform: uppercase;

	.title { margin-right: 2em; }
	.cost:before { content: "$"; }
}

.text-links {
	list-style-type: none;
	padding: 0;
	margin: 0;

	a {
		margin-right: 0.5em;
		font-weight: bold;
	}
}

.image-links {
	list-style-type: none;
	padding: 0;
	margin: 0;
	line-height: 0;

	li {
		display: inline-block;
		vertical-align: top;
		width: 32%;
		text-align: center;
		margin: 2em 0;
	}

	img { max-width: 100%; height: auto; }

	a {
		margin-right: 0.5em;
		font-weight: bold;
	}
}

table.calendar {
	width: 100%;
	border-collapse: collapse;

	th, td {
		width: (100% / 7);
		border: 1px solid #000;
		vertical-align: top;
	}

	td {
		height: 5.5em;
		padding: 5px;
	}

	span { vertical-align: top; }
	.day { font-weight: bold; }
	.event {
		text-align: center;
		line-height: 1.25em;
	}

	.past { background: #eee; color: #666; }
	.notinmonth { background: #eee; color: #666; }
	.today { background: $main-color; }
}

.calendar-nav {
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: center;

	li {
		display: inline-block;
		width: 33.33%;

		&:first-child { text-align: left; }
		&:last-child { text-align: right; }
	}
}

.poster-links {
	list-style-type: none;
	padding: 0;
	margin: 0;

	li {
		display: inline-block;
		vertical-align: bottom;

		width: 23%;
		margin-right: 1%;
		margin-bottom: 1em;
	}

	img {
		width: 100%;
		height: auto;
		border: 1px solid #666;
		line-height: 0;
	}

	p {
		font-size: 0.75em;
		margin: 0;
	}
}

.calendar-links {
	margin-top: 3em;

	> div { display: inline-block; vertical-align: bottom; }

	.map {
		width: 35%;
		overflow: hidden;
		max-height: 230px;

		p {
			font-size: 0.75em;
			margin: 0.5em 0 0 0;
		}
	}

	.cmsmap {
		width: 100%;
		height: 203px;
	}
}

.single-poster-link {
	@extend .poster-links;
	width: 23%;
	margin-right: 1%;
}

.square-button {
	line-height: 0;
	margin-bottom: 1em;

	img {
		width: 100%;
		height: auto;
	}

	span {
		display: block;
		background: #d0c38d;
		padding: 0.5em 1em;
		font-weight: bold;
		font-size: 1.25em;
		line-height: 1em;
	}

	a {
		color: #000 !important;
		text-decoration: none;

		&:hover {
			color: #fff !important;

			span { background: #007cc0; }
		}
	}
}

.gallery-grid {
	&__button {
		width: 275px;
		display: inline-block;
		margin: 2em 4em 2em 0;

		&:nth-child(2n) {
			margin: 2em 0;
		}
	}
}

.gallery-nav {
	padding: 0;
	margin: 0 -0.75em 2em -0.75em;
	list-style-type: none;

	a {
		text-decoration: none;
		font-weight: bold;
		display: block;
		padding: 0.75em 0 0.75em 0.75em;
		font-size: 1em;
		line-height: 1em;

		&:after {
			content: "|";
			display: inline-block;
			padding: 0 0 0 0.75em;
			color: $font-color;
		}
	}

	li {
		display: inline-block;
		margin: 0;
		line-height: 0;

		&:last-child {
			a:after { display: none; }
		}
	}
}

.glist {
	list-style-type: none;

	li { margin: 0 0 3em 0;}

	img {
		max-width: 48%;
		height: auto;
		vertical-align: top;
	}

	span {
		display: inline-block;
		width: 45%;
		margin-left: 5%;
		vertical-align: top;
	}
}

.ggrid {
	list-style-type: none;
	padding: 0;
	margin: 0;

	li {
		display: inline-block;
		vertical-align: top;
		line-height: 0;
		width: 33%;

		margin-bottom: 0.5%;
		margin-right: 0.5%;

		&:nth-child(3n) { margin-right: 0; }
	}

	img {
		width: 100%;
		height: auto;
	}
}

.column {
	float: left;

	&--large { width: 55%; }
	&--small {
		width: 40%;
		margin-left: 5%;
	}

	img {
		max-width: 100%;
		height: auto;
	}
}

.photo-column {
	margin-top: 1.5em;
	figure { width: 100%; padding: 0; margin: 0 0 6em 0; }
	figcaption { font-style: oblique; }
}


.past-presenters { clear: both; }
.presenter {
	margin-bottom: 2em;

	&__image {
		float: left;
		margin: 0.25em 1em 0 0;
	}
	&__text { overflow: hidden; }
	h3 { margin-top: 0; }
}

.contact-info {
	list-style-type: none;
	padding: 0;
	margin: 0 0 1em 0;
}

.map {
	display: inline-block;
	vertical-align: top;
	width: 45%;
	margin-right: 4%;
	overflow: hidden;
	max-height: 330px;

}

.cmsmap {
	width: 100%;
	height: 300px;
}

.sidebar {
	width: 300px;
	background: #4c4c4c;
	color: #fff;
	flex: 0 0 auto;

	#call-to-action & { background: #000; }

	a {
		color: #7799ad;
		&:hover { color: #fff; }
	}

	h1 {
		background: #7799ad;
		padding: 0.5em 0.75em;
		margin-top: 2.5em;
	}

	h2 {
		font-size: 1.5em;
		margin-bottom: 0.5em;
	}
}

#sidebar-upcoming {
	.month { margin: 2em 0; }
	.event {
		margin-bottom: 1em;
		h3 {
			font-size: 1.1em;
			margin: 0;
		}
	}
}

.sidebar-button {
	width: 100%;
	margin-bottom: 1em;
}

#main-footer {
	text-align: center;

	#footer-navigation { margin-bottom: 1em; }
	p { margin: 0; }
}


// Clearfix
.group:after {
	content: "";
	display: table;
	clear: both;
}