<section class="sponsors">
	<header>
		<h2><perch:content id="level" type="text" label="Level" required="true" title="true" /></h2>
	</header>

	<perch:repeater id="sponsors">
		<a href="<perch:content id="link" type="text" label="URL" order="3" />"><img src="<perch:content id="logo" type="image" label="Logo" bucket="sponsors" order="1" />" alt="<perch:content id="title" type="text" label="Name" title="true" order="2" />" width="<perch:content id="logo" type="image" output="w" />" height="<perch:content id="logo" type="image" output="h" />"></a>
	</perch:repeater>
</section>